.cuadrado{
    width: 200px;
    height: 200px;
    cursor : pointer;
    border : 2px solid black;
    display: inline-flex;
}


.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.verde{
    background-color: green;
}